body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    font-family: "Patrick Hand", cursive;
}

.container {
    width: 80%;
    background-color: #EEF2F7;
    border-radius: 15px;
    border: black 5px solid;
}

.title {
    font-size: 48px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.choices {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-bottom: 50px;
}

.human-choice, .computer-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 150px;
    height: 150px;
}

.question-mark {
    font-size: 88px;
}

.vs {
    align-self: center;
}

.options-text {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-size: 18px;
    font-family: "Patrick Hand", cursive;
    background-color: #EEF2F7;
    border-radius: 10px;
    border: black 3px solid;
    padding: 10px;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}